@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
body {
    background: #fff;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}
.header {
    width: 100%;
}
nav {
    display: flex;
    justify-content: center;
    padding: 1% 5%;
}
nav .logo {
    font-family: 'Josefin Sans', sans-serif;
    color: #000;
    font-size: 35px;
    font-weight: 600;
    margin-top: 15px;
    text-decoration: none;
    text-shadow: 1.5px 1.5px #ff0044 /* rgba(0,0,0,0.5) */;
}
nav img {
    width: 50px;
    border-radius: 50%;
    border: 2px solid #000;
    box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.5);
}
.nav-items {
    flex: 1;
    text-align: left;
    margin-left: 5%;
}
.nav-items ul li {
    display: inline-block;
    justify-content: space-between;
    padding: 18px 3%;
    border-radius: 40px;
    position: relative;
}
.nav-items ul li .active {
    color: #ff0044;
}
.nav-items ul li .n-active::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #ff0044;
    border-radius: 15px;
    transition: 0.2s;
}
.nav-items ul li .n-active:hover::after {
    width: 100%;
    transition: 0.5s;
}
.nav-items ul li a {
    font-size: 18px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
}
nav .bx {
    margin-top: 18px;
    font-size: 22px;
    color: #000;
}
nav .bx:hover {
    color: #ff0044;
    transition: 0.2s;
}
nav input {
    margin: 18px;
    background: none;
    outline: none;
    height: 20px;
    width: 100px;
    color: #000;
    border: none;
}
nav input::placeholder {
    color: #ff0044;
}
nav input:focus::placeholder {
    color: rgba(200,0,50,0.5);
    transition: 0.2s;
}

/********************** ABOUT *********************/

.sub-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 6% 0 0 0;
}
.sub-header h2 {
    font-size: 50px;
    margin-bottom: 4%;
}
.sub-header h2::after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background: #ff0044;
    border-radius: 15px;
    transition: 0.2s;
}
.sub-header p {
    flex-basis: 50%;
    width: 50%;
    text-align: justify;
    text-justify: inter-word;
    font-size: 15px;
    margin-bottom: 3%;
}
.content {
    margin: 4% 5%;
}
.row {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: 1%;
}
.image {
    border-radius: 8px;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    width: 30%;
    background: #ff0044;
    box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.5);
}
.image img {
    flex: 1;
    transition: all ease-in-out 0.3s;
    height: 250px;
    width: 100%;
}
.image:hover::before {
    opacity: 1;
}
.image:hover img {
    transform: scale(1.1);
}
.image:hover .image-info {
    opacity: 1;
}
.image::before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
}
.image-info {
    width: 60%;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 50px;
    opacity: 1;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    transform: translate(-50%,-50%);
    transition: all ease-in-out 0.3s;
    text-align: center;
}
.image-info h4 {
    font-size: 30px;
    color: #fff;
    font-weight: 600;
}
.image-links a {
    color: #ff0044;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}
.image-links a:hover {
    text-decoration: underline;
}

/********************** MAIN  *********************/
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2%;
    position: relative;
}
.slider {
    background: linear-gradient(rgba(5,0,20,0.6),rgba(5,0,20,0.6)),url("img/slider4.jpg");
    background-size: cover;
    min-height: 85vh;
    width: 100%;
    border-radius: 20px;
    animation:slider 8s infinite linear;
}
@keyframes slider {
    0% {
        background: linear-gradient(rgba(5,0,20,0.6),rgba(5,0,20,0.6)),url("img/slider4.jpg");
        background-size: cover;
    }
    50% {
        background: linear-gradient(rgba(5,0,20,0.6),rgba(5,0,20,0.6)),url("img/slider2.jpg");
        background-size: cover;
    }
}
.main-quote {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    width: 100%;
    transform: translate(-50%,-60%);
    text-align: center;
}
.main-quote h1 {
    font-family: 'Lobster', cursive;
    font-size: 80px;
    font-weight: 400;
    text-shadow: 2px 4px 2px #000;;
}
.btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    font-size: 18px;
    background-size: 201% 100%; 
    background-image: linear-gradient(to right,#ff0044 50%,#ff4778 50%);
    transition: background-position 0.8s;
    border: 2px solid #fff ;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    margin: 40px 0 0 0;
}
.btn:hover {
    background-position: -99% 0%; 
    transition: 0.8s;
}



/********************* CONTACT *********************/
.contact {
    width: 100%;
}
.contact form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin-left: 20%;
}
form input,textarea {
    padding: 12px 14px;
    border: 2px solid rgba(200,0,50,0.4);
    border-radius: 5px;
    margin-bottom: 10px;
    resize: vertical;
}
form input:hover,textarea:hover {
    border: 2px solid #ff0044;
}
form input:focus,textarea:focus {
    border: 2px solid black;
}
.btn3 {
    position: relative;
    padding: 8px 20px;
    background: #ff0044;
    color: #fff;
    border: 2px solid #ff0044;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.4s;
    margin: 0 0 5% 35%;
    width: 25%;
    text-align: center;
}
.btn3:hover {
    color: #ff0044;
    background: #fff;
    border: 2px solid #ff0044;
    transition: 0.5s;
}
.social {
    margin: 2% 5%;
    display: flex;
    justify-content: space-between;
}
.bx-like, .bx-user-check, .bx-play-circle {
    font-size: 15px;
}


/********************* SERVICES ********************/
.quote {
    display: flex;
    justify-content: center;
    margin: 0 0 5% 0;
}
.quote h1 {
    font-family: 'Lobster', cursive;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
}
.card-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-container .card {
    position: relative;
    width: 50vh;
    height: 60vh;
    margin: 5%;
    border-radius: 15px;
    border: 2px solid #ff0044;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-container .card:hover {
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.3);
}
.card-container .card .card-content {
    margin: 0;
    padding: 20px;
    text-align: center;
    transition: 0.5s;
}
.card-container .card .card-content h2 {
    position: absolute;
    top: 0;
    font-size: 90px;
    color: black;
    pointer-events: none;
}
.card-container .card .card-content h3 {
    margin-top: 3%;
    font-size: 30px;
    color: black;
    z-index: 1;
}
.card-container .card .card-content p {
    margin-top: 3%;
    font-size: 18px;
    color: black;
    font-weight: 300;
}
.btn2 {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15%;
    color: #ff0044;
    background: #fff;
    border: 2px solid #ff0044;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.4s;
}
.btn2:hover {
    background: #ff0044;
    color: #fff;
    border: 2px solid #ff0044;
    transition: 0.5s;
}


/********************** FOOTER *********************/

.footer {
    background: linear-gradient(rgba(230,200,220,0.9),rgba(200,200,255,0.9));
    padding: 3% 0 2% 0;
    margin-top: 2%;
    width: 100%;
    color: black;
    border-radius: 80px 80px 0 0;
}
.footer-container{
    display: flex;
    flex-wrap: wrap;
    padding: 1% 0% 0% 10%;
}
ul{
    list-style: none;
}
.footer-col {
    width: 25%;
    padding: 0 2% 0 6%;
}
.footer-col h2 {
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h2::before {
    content: '';
    position: absolute;
    bottom: -10px;
    background-color: #ff0044;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col .info_links li, .footer-col .info_links li a {
    margin-bottom: 10px;
    font-size: 16px;
    color: black;
    text-decoration: none;
    transition: all 0.3s ease;
    font-family: 'Poppins', sans-serif;
}
.footer-col .info_links li a:hover {
    color: #ff0044;
    padding-left: 8px;
}
.footer-col .social-links li a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(235, 235, 255, 0.8);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ff0044;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
    color: #fff;
    background-color: #ff0044;
}
.footer p {
    margin: 25px 0 10px 0;
    color: black;
    font-size: 15px;
    text-align: center;
}
.footer .bxs-heart , .footer .bx-copyright {
    color: #ff0044;
}

/*responsive*/
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}
